[submodule "src/extension_builder/csrc/third_party/cutlass"]
	path = csrc/third_party/cutlass
	url = https://github.com/nvidia/cutlass
[submodule "triton-aot"]
	path = triton-aot
	url = https://github.com/jeromeku/triton
	branch = aot-refactor-tracing
[submodule "csrc/third_party/vllm"]
	path = csrc/third_party/vllm
	url = https://github.com/vllm-project/vllm
